doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // font awesome
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // google fonts
  link(href='https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='/stylesheet/main.css')
  title Budget App
// add budget modal
#addBudgetModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addBudgetModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h2.modal-title.bodyfont.font-weight-bold(id='') Add an Item
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.fa.fa-times-circle(aria-hidden='true')
      .modal-body
        form#submitAddBudget(method='POST' action='')
          .form-group
            label.font-weight-bold.text-danger(for='type') Type of Item
            select#type.form-control(name='type')
              option(value='income') income
              option(value='expense') expense
          .form-group
            label.font-weight-bold.text-danger(for='desc') Description
            input#desc.form-control(type='text' name='desc' placeholder='Enter your item description')
          .form-group
            label.font-weight-bold.text-danger(for='amount') Enter the amount
            input#amount.form-control(type='number' name='amount' placeholder='Enter the amount')
          //
            <div class="form-group">
            <label class="font-weight-bold text-danger" for="time">Time</label>
            <input
            class="form-control"
            type="date"
            name="time"
            id="time"
            placeholder=""
            />
            </div>
          button.btn.btn-primary Add Budget
      .modal-footer
        button#closeAddBudgetModalBtn.btn.btn-danger(type='button' data-dismiss='modal')
          | Close
// edit budget modal
#editBudgetModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editBudgetModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h2.modal-title.bodyfont.font-weight-bold(id='') Edit Budget
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.fa.fa-times-circle(aria-hidden='true')
      .modal-body
        form#submitEditBudget(method='POST' action='')
          button.btn.btn-primary Edit Budget
      .modal-footer
        button#closeEditBudgetModalBtn.btn.btn-danger(type='button' data-dismiss='modal')
          | Close
.app.bg-brand-light.p-5
  .w-75.bg-brand.rounded.p-5.mx-auto.text-white
    // balance
    .balance.text-center
      p.m-0 balance
      h1#budgetBalance.font-weight-bold.m-0 &#x20A6;100,000
    // contents
    .w-75.mx-auto
      // income and expense totals
      .row.mx-0.mt-2
        // income
        .col-sm-6.rounded.bg-success
          h2#incomeTotals.bodyfont.pt-2 &#x20A6;0
        // expense
        .col-sm-6.rounded.bg-danger
          h2#expenseTotals.bodyfont.pt-2 &#x20A6;0
      // items
      ul.bg-dark-brand.items.p-5.mt-2.rounded
        p You don&apos;t have any budget added to the list.
      a.m-5.mx-auto.px-5.py-2.btn.text-capitalize.font-weight-bold.btn-success(href='#addBudgetModal' data-toggle='modal' data-target='#addBudgetModal') add a budget
      a.m-5.mx-auto.px-5.py-2.btn.text-capitalize.font-weight-bold.btn-danger.d-none(href='#editBudgetModal' data-toggle='modal' data-target='#editBudgetModal') edit budget
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='/javascripts/app.js')
